<%= form_for @brewery do |f| %>
  <% if @brewery.errors.any? %>
    <ul>
      <% @brewery.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="control-group">
    <%= f.label :name %>
  </div>
  <div class="controls">
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="control-group">
    <%= f.label :address %>
  </div>
  <div class="controls">
    <%= f.text_field :address, class: "form-control" %>
  </div>

  <div class="control-group">
    <%= f.label :city %>
  </div>
  <div class="controls">
    <%= f.text_field :city, class: "form-control" %>
  </div>

  <div class="control-group">
    <%= f.label :state %>
  </div>
  <div class="controls">
    <%= f.text_field :state, class: "form-control" %>
  </div>

  <div class="control-group">
    <%= f.label :zip %>
  </div>
  <div class="controls">
    <%= f.text_field :zip, class: "form-control" %>
  </div>

  <div class="control-group">
    <%= f.label :phone_number, "Phone Number" %>
  </div>
  <div class="controls">
    <%= f.text_field :phone_number, class: "form-control" %>
  </div>

  <div class="control-group">
    <%= f.label :hours %>
  </div>
  <div class="controls">
    <%= f.text_field :hours, class: "form-control" %>
  </div>

  <div class="control-group">
    <%= f.label :description %>
  </div>
  <div class="controls">
    <%= f.text_field :description, class: "form-control" %>
  </div>

  <div class="control-group">
    <%= f.label :url, "URL" %>
  </div>
  <div class="controls">
    <%= f.text_field :url, class: "form-control" %>
  </div>

  <div>
    <%= f.submit 'Create Brewery', class: "btn btn-large btn-primary" %>
  </div>
<% end %>
