<%= form_for @brewery do |f| %>
  <% if @brewery.errors.any? %>
    <ul>
      <% @brewery.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="control-group">
    <%= f.label :name %>
  </div>
  <div class="controls">
    <%= f.text_field :name %>
  </div>

  <div class="control-group">
    <%= f.label :address %>
  </div>
  <div class="controls">
    <%= f.text_field :address %>
  </div>

  <div class="control-group">
    <%= f.label :city %>
  </div>
  <div class="controls">
    <%= f.text_field :city %>
  </div>

  <div class="control-group">
    <%= f.label :state %>
  </div>
  <div class="controls">
    <%= f.text_field :state %>
  </div>

  <div class="control-group">
    <%= f.label :zip %>
  </div>
  <div class="controls">
    <%= f.text_field :zip %>
  </div>

  <div class="control-group">
    <%= f.label :phone_number, "Phone Number" %>
  </div>
  <div class="controls">
    <%= f.text_field :phone_number %>
  </div>

  <div class="control-group">
    <%= f.label :hours %>
  </div>
  <div class="controls">
    <%= f.text_field :hours %>
  </div>

  <div class="control-group">
    <%= f.label :description %>
  </div>
  <div class="controls">
    <%= f.text_field :description %>
  </div>

  <div class="control-group">
    <%= f.label :url, "URL" %>
  </div>
  <div class="controls">
    <%= f.text_field :url %>
  </div>

  <div class="control-group">
    <%= f.label :user_id, "TEMPORARY USER ID" %>
  </div>
  <div class="controls">
    <%= f.text_field :user_id %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
