<h1>Edit information for <%= @brewery.name %></h1>

<%= form_for @brewery do |f| %>
  <% if @brewery.errors.any? %>
    <ul>
      <% @brewery.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name, value: @brewery.name %>
  </div>

  <div>
    <%= f.label :address %>
    <%= f.text_field :address, value: @brewery.address %>
  </div>

  <div>
    <%= f.label :city %>
    <%= f.text_field :city, value: @brewery.city %>
  </div>

  <div>
    <%= f.label :state %>
    <%= f.text_field :state, value: @brewery.state %>
  </div>

  <div>
    <%= f.label :zip %>
    <%= f.text_field :zip, value: @brewery.zip %>
  </div>

  <div>
    <%= f.label :phone_number, "Phone Number" %>
    <%= f.text_field :phone_number, value: @brewery.phone_number %>
  </div>

  <div>
    <%= f.label :hours %>
    <%= f.text_field :hours, value: @brewery.hours %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_field :description, value: @brewery.description %>
  </div>

  <div>
    <%= f.label :url, "URL" %>
    <%= f.text_field :url, value: @brewery.url %>
  </div>

  <div>
    <%= f.submit "Update" %>
  </div>
<% end %>
