<%= link_to "Back to breweries list", breweries_path %>

<% if current_user %>
  <% if current_user.id == @brewery.user_id %>
    <%= link_to 'Update', edit_brewery_path(@brewery) %>
  <% end %>
<% end %>

<ul>
  <li><%= @brewery.name %></li>
  <li><%= @brewery.address %></li>
  <li><%= @brewery.city %></li>
  <li><%= @brewery.state %></li>
  <li><%= @brewery.zip %></li>
  <li><%= @brewery.phone_number %></li>

  <li><%= @brewery.description %></li>

  <% if @brewery.hours %>
    <li><%= @brewery.hours %></li>
  <% end %>

  <% if @brewery.url %>
    <li><%= link_to @brewery.url, @brewery.url %></li>
  <% end %>
</ul>

<%= render 'reviews/new' %>

<% @brewery.reviews.each do |review| %>

    <%= form_for [@brewery, review, @vote] do |f| %>
      <%=f.hidden_field :score, value: 1 %>
      <%= f.submit "Up" %>
    <%end%>

    <div class="up-vote">
      <%= review.up_vote_count %>
    </div>

    <%= form_for [@brewery, review, @vote] do |f| %>
      <%=f.hidden_field :score, value: -1%>
      <%= f.submit "Down" %>
    <%end%>

    <div class="down-vote">
      <%= review.down_vote_count %>
    </div>

  <ul>
    <li>Rating: <%= review.rating %></li>
    <li>Title: <%= review.title %></li>
    <li>Body: <%= review.body %></li>
    <% if current_user %>
      <% if current_user.id == review.user_id %>
        <%= link_to 'Delete review', brewery_review_path(@brewery, review), method: :delete %>
        <%= link_to 'Edit review', edit_brewery_review_path(@brewery, review) %>
      <% end %>
    <% end %>
  </ul>

<% end %>
