
<%= form_for [@brewery, @review] do |f| %>

 <% if @review.errors.any? %>
    <ul>
      <% @review.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.label :title %>
  <%= f.text_field :title%>

  <%= f.label :body %>
  <%= f.text_area :body %>

  <% i = 1 %>
  <% 5.times do %>
    <%= f.radio_button(:rating, 1) %>
    <%= f.label(:rating_star, "#{i} Star") %>
    <% i += 1 %>
    <% end %>
  <%= f.submit 'Submit' %>

<% end %>


